@{
    ViewBag.Title = "Home Page";
}

<div class="container taskmanager">
    <div class="row">

        <div class="col-xs-12">
            <div class="title">TaskManager</div>
        </div>

        <div class="col-xs-12 tasklist">
            <div class="addtask">Click here to add a new task...</div>
        </div>

        <div class="taskwindow add">
            <div class="labelname">Enter the task name</div>
            <input type="text" id="" />
            <button id="newtasksubmit">Submit</button>
            <button id="newtaskcancel" class="cancel">Cancel</button>
        </div>
        <div class="taskwindow edit">
            <div class="labelname">Edit the task name</div>
            <input type="text" id="" />
            <button id="edittasksubmit">Submit</button>
            <button id="edittaskcancel" class="cancel">Cancel</button>
        </div>
    </div>
</div>